# Count or frequency encoding

## High Cardinality

Another way to refer to variables that have a multitude of caegories, is to call them variable with <b>high cardinality</b>.

if we have categorical variables containing many multiple  labels or high cardinality, then by using one hot encoding. We will expend the feature space dramatically.

One approach that is heavlly used in kaggle comptitions, is to replace each label of the categorial variable by the counts. This is the amount of times each label appears in the dataset. Or the frequency, this is the percentage of observations within that category. The 2 are equivalent.

In [17]:
import pandas as pd

In [18]:
df=pd.read_csv('mercedes.csv',usecols=['X1','X2'])

In [19]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [20]:
df.shape

(4209, 2)

#### if we apply One Hot Encoding

In [21]:
pd.get_dummies(df).shape

(4209, 71)

In [22]:
df.X1.nunique()

27

In [23]:
df.X2.nunique()

44

#### now apply frequency encoding

In [24]:
df.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'ah': 4,
 'p': 4,
 'av': 4,
 'au': 3,
 'j': 1,
 'l': 1,
 'ar': 1,
 'c': 1,
 'am': 1,
 'af': 1,
 'aa': 1,
 'o': 1}

In [25]:
df_freuency_map=df.X2.value_counts().to_dict()

In [26]:
df.X2=df.X2.map(df_freuency_map)

In [27]:
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

# Advantages

1.It is very simple to implement

2.Does not increase feature dimensioal space

# Disadvantages

1.If some of the labels have the same count, then they will be replaced with the same count and they will loose some valuable information.

2.Adds somewhat arbitrary numbers, and therefore weights to the different labels, that may not be related to their predictive power